@model Soccer.Models.Team

@{
    ViewData["Title"] = "Редагувати дані про команду";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редагування</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coach" class="control-label"></label>
                <input asp-for="Coach" class="form-control" />
                <span asp-validation-for="Coach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти внесені зміни" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку команд</a>
</div>